<template name="venueLink">
	{{#if venue.name}}
		{{#if venue._id}}
			<div class="tag tag-link venue-tag">
				<a class="js-venue-link"
				   data-tooltip="{{i18n 'location.link.tooltip' 'Show details of {VENUE}' VENUE=venue.name}}"
				   href="{{pathFor 'venueDetails' data=venue}}"
				   target="{{#if openInNewTab}}_blank{{/if}}">
					<span class="fa-solid fa-house fa-fw" aria-hidden="true"></span>
					{{venue.name}}
				</a>
			</div>
		{{else}}
			<div class="tag">
				<span class="fa-solid fa-house fa-fw" aria-hidden="true"></span>
				{{venue.name}}
			</div>
		{{/if}}
		{{#if room}}
			<div class="tag">
				<span class="fa-solid fa-signs-post fa-fw" aria-hidden="true"></span>
				{{room}}
			</div>
		{{/if}}
	{{/if}}
</template>
