<template name="calendar">
	{{> calendarNav date=startDate}}
	<div class="container calendar-container">
		<div class="page-component">
			{{#each day in days}}
				{{> calendarDayFormat day=day filter=filter}}
				<hr>
			{{/each}}
		</div>
	</div>
</template>

<template name="calendarDayFormat">
	<div class="js-calendar-date calendar-date">
		{{calendarDayFormat day.start}}
	</div>
	{{#if eventsReady}}
		{{#unless hasEvents}}
			<br>
			{{i18n 'calendar.noCoursesThisDay' "There are no events on this day"}}
		{{/unless}}
		{{#if hasEvents}}
			<div class="calendar-event-list">
				{{> eventList dataEvents=events withDate=false}}
			</div>
		{{/if}}
	{{else}}
		{{> loadingRow}}
	{{/if}}
</template>

<template name="calendarNav">
	<div class="calendar-nav-container">
		<div class="calendar-nav">
			{{> calendarNavControl direction='previous'}}
			<div class="calendar-nav-moment">
				<div class="calendar-nav-week">
					{{i18n "calendar.weekNumber" "Week"}} {{weekNr date}}
				</div>
				<div class="calendar-nav-date">
					<span class="d-none d-md-inline-block">{{dateLong date}} -
						{{dateLong (endDateTo date)}}</span>
					<span class="d-md-none">{{dateShort date}} -
						{{dateShort (endDateTo date)}}</span>
				</div>
			</div>
			{{> calendarNavControl direction='next'}}
		</div>
	</div>
</template>

<template name="calendarNavControl">
	<div class="calendar-nav-control">
		<div class="btn-group">
			<button type="button" class="btn btn-secondary js-change-date">
				{{arrow}} <span
					  class="d-none d-md-inline-block">{{calendarNavText direction currentUnit 'short'}}</span>
			</button>
			<button type="button" class="btn btn-secondary" aria-expanded="false"
					aria-haspopup="true" data-bs-toggle="dropdown" data-bs-reference="parent">
				<span class="fa-solid fa-list-ul fa-fw" aria-hidden="true"></span>
			</button>
			<ul class="dropdown-menu">
				{{#each navUnits}}
					<li>
						<a class="dropdown-item js-change-unit" href="#">
							{{calendarNavText ../direction this 'long'}}
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="calendarNavDynamicTranslations">
	This template holds translation strings that are constructed dynamically in this component

	{{i18n 'calendar.previous.week.short' 'previous week'}}
	{{i18n 'calendar.previous.month.short' 'previous month'}}
	{{i18n 'calendar.previous.year.short' 'previous year'}}
	{{i18n 'calendar.next.week.short' 'next week'}}
	{{i18n 'calendar.next.month.short' 'next month'}}
	{{i18n 'calendar.next.year.short' 'next year'}}
	{{i18n 'calendar.previous.week.long' 'Go to previous week'}}
	{{i18n 'calendar.previous.month.long' 'Go to previous month'}}
	{{i18n 'calendar.previous.year.long' 'Go to previous year'}}
	{{i18n 'calendar.next.week.long' 'Go to next week'}}
	{{i18n 'calendar.next.month.long' 'Go to next month'}}
	{{i18n 'calendar.next.year.long' 'Go to next year'}}
</template>
