<template name="regionSelectionWrap">
	{{#if show}}
		{{#if Template.subscriptionsReady}}
			{{#if state 'searchingRegions'}}
				{{> regionSelection inNavbar=inNavbar}}
			{{else}}
				{{> regionSelectionDisplay inNavbar=inNavbar}}
			{{/if}}
		{{/if}}
	{{/if}}
</template>

<template name="regionSelection">
	<li class="region-selection {{inNavbarClasses}}">
		<form class="d-flex js-region-search-form" tabindex="0">
			<div
				 class="input-group input-group-outline {{#if isSplash}}is-splash{{else}}input-group-sm p-2 mt-2{{/if}}">
				<span class="input-group-text"><span class="fa-regular fa-circle-dot fa-fw"
						  aria-hidden="true"></span></span>
				<input class="form-control js-region-search" type="text"
					   value="{{#if currentRegionName}}{{currentRegionName}}{{else}}{{i18n 'menue.All regions' 'All regions'}}{{/if}}">
				<input class="d-none" type="submit">
				<button class="btn dropdown-toggle" data-bs-toggle="dropdown" role="button"
						aria-expanded="false" tabindex="-1"></button>
				<ul class="dropdown-menu dropdown-menu-end mx-2" role="menu">
					<li class="dropdown-header dropdown-legend">
						<div class="dropdown-addon-right">
							<span class="badge bg-primary rounded-pill"
								  title="{{i18n 'regionSelection.legend.numCoursesTitle' 'Number of courses'}}">
								# <i class="fa-solid fa-circle"></i>
							</span>
							<span class="badge bg-success text-dark rounded-pill"
								  title="{{i18n 'regionSelection.legend.numEventsTitle' 'Number of upcoming events'}}">
								# <i class="fa-solid fa-calendar"></i>
							</span>
						</div>
						{{i18n 'regionSelection.legend.region' 'Region'}}
					</li>
					<li>
						<a href="#" class="dropdown-item js-region-link js-nav-dropdown-close"
						   title="{{i18n 'menue.All regions'}}">
							<div class="dropdown-addon-right">
								<span class="badge bg-primary rounded-pill"
									  title="{{i18n 'regions.allCourses.title' '{COUNT, plural, =0{no courses} one{one course} other{# courses} } on {SITENAME}' COUNT=allCourses SITENAME=siteName}}">
									{{allCourses}}
								</span>
								<span class="badge bg-success text-dark rounded-pill"
									  title="{{i18n 'regions.allUpcomingEvents.title' '{COUNT, plural, =0{no upcoming events} one{one upcoming event} other{# upcoming events} } on {SITENAME}' COUNT=allUpcomingEvents SITENAME=siteName}}">
									{{allUpcomingEvents}}
								</span>
							</div>
							{{#if isCurrentRegion 'all'}}
								<span class="checkmark fa-solid fa-check"></span>
							{{/if}}
							{{i18n 'menue.All regions' 'All regions'}}
						</a>
					</li>
					{{#if state 'showAllRegions'}}
						{{#each region in allRegions}}
							{{> regionSelectionItem region}}
						{{/each}}
						{{#if aboutLink}}
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" href="{{aboutLink}}">
									<span class="fa-solid fa-circle-info" aria-hidden="true"></span>
									{{i18n 'regionSelection.aboutLink' 'About regions'}}
								</a>
							</li>
						{{/if}}
					{{else}}
						{{#each region in mostActiveRegions}}
							{{> regionSelectionItem region}}
						{{/each}}
						{{#if hasMoreRegions}}
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<button class="btn btn-link js-show-all-regions" type="button">
									{{i18n 'regionSelection.showAll' 'Show all regions'}}
								</button>
							</li>
						{{/if}}
					{{/if}}
				</ul>
			</div>
		</form>
	</li>
</template>

<template name="regionSelectionItem">
	<li class="{{private}}">
		<a href="#" class="dropdown-item js-region-link js-nav-dropdown-close" title="{{nameEn}}">
			<div class="dropdown-addon-right">
				<span class="badge bg-primary rounded-pill"
					  title="{{i18n 'regions.courses.title' '{COUNT, plural, =0{no courses} one{one course} other{# courses in} } in {REGION}' COUNT=courseCount REGION=this.name}}">
					{{courseCount}}
				</span>
				<span class="badge bg-success text-dark rounded-pill"
					  title="{{i18n 'regions.eventCount.title' '{COUNT, plural, =0{no upcoming events} one{one upcoming event} other{# upcoming events} } in {REGION}' COUNT=futureEventCount REGION=this.name}}">
					{{futureEventCount}}
				</span>
			</div>
			{{#if isCurrentRegion _id}}
				<span class="checkmark fa-solid fa-check"></span>
			{{/if}}
			{{regionNameMarked}}
		</a>
	</li>
</template>

<template name="regionSelectionDisplay">
	<li class="{{inNavbarClasses}}">
		<a class="navbar-link js-region-selection-display">
			<span class="fa-regular fa-circle-dot fa-fw" aria-hidden="true"></span>
			{{#if currentRegionName}}
				{{currentRegionName}}
			{{else}}
				{{i18n 'menue.All regions' 'All regions'}}
			{{/if}}
		</a>
	</li>
</template>
