<template name='editable'>
	<div class="editable-wrap {{wrapAttrs}} {{errorClass 'input'}}">
		<div class="editable js-editable {{editableAttrs}}"></div>
		{{#unless showControls}}
			<span class="fa-solid fa-pencil editable-icon js-editable-edit"></span>
		{{/unless}}
		{{errorMessage 'input'}}
	</div>
	{{#if showControls}}
		{{> editableControls}}
	{{/if}}
</template>

<template name="editableTextarea">
	<div
		 class="js-editable {{editableAttrs}} form-control editable-textarea {{errorClass 'input'}}">
	</div>
	{{errorMessage 'input'}}
</template>

<template name='editableControls'>
	<div class='editable-controls'>
		{{> buttonSave event="js-editable-save"}}
		{{> buttonCancel event="js-editable-cancel"}}
	</div>
</template>
