<template name="filter">
	<div class="filter {{filterClasses}}">
		{{#if showingFilters}}
			<h4 class="filter-heading">
				<i class="fa-solid fa-filter fa-fw" aria-hidden="true"></i>
				{{i18n 'find.search_filter.title' 'Filter search'}}
				<span class="filter-active-tag">
					{{i18n 'find.filter.isActive' 'active'}}
				</span>
				<div class="filter-captions-header-buttons">
					<button class="js-toggle-filters btn btn-lg btn-link p-0" type="button">
						<span class="filter-remove-btn-text">
							{{i18n 'find.hideFilters' 'Remove all filters'}}
						</span>
					</button>
				</div>
			</h4>
		{{/if}}
		<div class="row">
			<div class="col filter-component">
				<h4 class="filter-component-header">
					{{i18n 'find.filter.courseStates' 'Course states'}}
				</h4>
				<div class="row gx-3">
					{{#each stateFilter in stateFilters}}
						<div class="col filter-captions-column">
							<div class="filter-caption-wrap">
								<div class="filter-caption js-filter-caption {{stateFilterClasses stateFilter}}"
									 data-filter-name="{{stateFilter.name}}"
									 title="{{stateFilter.title}}">
									<span class="filter-caption-text">
										{{stateFilter.label}}
										<i class="fa-solid fa-check fa-fw" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
				{{#if showingFilters}}
					<div class="mt-2 row gx-3">
						<div class="col-sm-4 offset-sm-8 filter-captions-column">
							<div class="filter-caption-wrap">
								<div class="filter-caption js-filter-caption-archived {{archivedFilterClasses}}"
									 title="{{i18n 'filterCaptions.archived.title' 'Show only courses that are archived'}}">
									<span class="filter-caption-text">
										{{i18n 'filterCaptions.archived.label' 'Archived'}}
										<i class="fa-solid fa-xmark fa-fw" aria-hidden="true"></i>
										<i class="fa-solid fa-check fa-fw" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				{{/if}}
			</div>
			{{#if showingFilters}}
				{{> additionalFilters}}
			{{/if}}
		</div>
		{{#unless showingFilters}}
			<div class="filter-actions">
				<button class="js-toggle-filters btn btn-link p-0" type="button">
					{{i18n 'filter.showAllFilters' 'Show all filters'}}
				</button>
			</div>
		{{/unless}}
	</div>
</template>

<template name="additionalFilters">
	<div aria-label="filter-course-roles" class="col-md-3 filter-component" role="group">
		<h4 class="filter-component-header">
			{{i18n 'find.filter.courseRoles' 'Course roles'}}
		</h4>
		{{#each role in roles}}
			<button class="filter-course-role js-filter-course-role {{roleClasses role}}"
					data-filter-name="{{role.name}}" type="button">
				<span class="filter-course-role-icon">
					<i class="{{role.icon}} fa-fw" aria-hidden="true"></i>
				</span>
				{{role.label}}
				<i class="fa-solid fa-check" aria-hidden="true"></i>
			</button>
		{{/each}}
	</div>
	<div class="col-md-3 filter-component">
		<h4 class="filter-component-header">
			{{i18n 'find.filter.categories' 'Categories'}}
		</h4>
		{{#unless isMobile}}
			{{#if categories}}
				<ul class="filter-selected-categories">
					{{#each categories}}
						<li>
							{{> categoryLabel}}
							<button type="button"
									class="remove-btn js-remove-category-btn fa-solid fa-xmark"
									data-tooltip="{{i18n 'find.filter.removeCategory' 'Remove category {CATEGORYNAME} from filter' CATEGORYNAME=(categoryName this)}}">
							</button>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		{{/unless}}
		<div class="input-group input-group-outline filter-categories-select">
			<input class="js-search-categories form-control"
				   placeholder="{{i18n 'find.searchCategories.placeholder' 'Choose categories'}}"
				   type="text">
			<button aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown"
					type="button" data-bs-reference="parent">
			</button>
			<ul class="dropdown-menu filter-categories-dropdown" role="menu">
				{{#if availableCategories}}
					{{#each availableCategories}}
						<li class="{{this}}">
							<a class="js-category-selection-label {{#if availableSubcategories this}}drodown-item-main{{/if}} dropdown-item"
							   href="#">
								{{categoryNameMarked}}
								{{#if availableSubcategories this}}
									<small class="js-toggle-subcategories {{this}}"
										   title="{{i18n 'find.showSubcategories.title' 'Show/Hide subcategories'}}">
										<span class="fa-solid fa-angle-down"
											  aria-hidden="true"></span>
									</small>
								{{/if}}
							</a>
						</li>
						{{#each availableSubcategories this}}
							<li class="js-sub-category {{..}}">
								<a class="js-category-selection-label dropdown-item" href="#">
									{{categoryNameMarked}}
								</a>
							</li>
						{{/each}}
					{{/each}}
				{{else}}
					<span class="filter-no-categories-found">
						<span class="fa-solid fa-exclamation fa-fw" aria-hidden="true"></span>
						{{i18n 'find.filter-no-categories-found' 'No categories found'}}
					</span>
				{{/if}}
			</ul>
		</div>
		{{#if isMobile}}
			{{#if categories}}
				<ul class="filter-selected-categories">
					{{#each categories}}
						<li>
							<a class="js-category-label" href="#">{{categoryName this}}</a>
							<button class="remove-btn js-remove-category-btn fa-solid fa-xmark"
									data-tooltip="{{i18n 'find.filter.removeCategory' 'Remove category {CATEGORYNAME} from filter' CATEGORYNAME=(categoryName this)}}"
									type="button">
							</button>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		{{/if}}
	</div>
</template>
