<template name="eventParticipants">
	<div class="event-page-component-header">
		<h4>
			<span class="fa-solid fa-users fa-fw" aria-hidden="true"></span>&nbsp;
			{{i18n 'event.details.paticipants.title' '{NUM, plural, =0{No participants yet} one{1 Participant} other{# Participants} }' NUM=howManyEnrolled}}
		</h4>
	</div>
	{{#if participants}}
		<div class="event-participants">
			{{#each participant in sortedParticipants}}
				{{> eventParticipant participant=participant event=this}}
			{{/each}}
			{{#if limited}}
				<button class="btn btn-add event-page-btn js-show-more-participants" type="button">
					{{i18n 'event.participants.showMoreParticipants' 'Show more participants'}}
				</button>
			{{/if}}
		</div>
	{{/if}}
</template>

<template name="eventParticipant">
	<div class="event-participant {{ownUserParticipantClass}}">
		{{> profileLink participant}}
		{{contribution participant}}
		{{> participantContact participant=participant event=event}}
	</div>
</template>
