<template name="kioskLink">
	{{#if link}}
		<div class="back-to-kiosk">
			<button class="js-remove-back-to-kiosk">
				<span class="fa-solid fa-xmark" aria-hidden="true"></span>
			</button>
			<a href="{{link}}">
				{{i18n 'backToKiosk' 'Return to overview'}}
			</a>
		</div>
	{{/if}}
</template>
