<template name="report">
	{{#if sending}}
		{{i18n 'report.sending' 'Report is being sent…'}}
	{{/if}}
	{{#if reporting}}
		<div class="report p-3">
			<form>
				<div class="mb-3 {{errorClass 'reportMessage'}}">
					<label class="form-label"
						   for="reportMessage">{{i18n 'report.text' 'Please tell us what is wrong.'}}</label>
					<textarea class="js-report-message form-control" id="reportMessage" rows="3"
							  placeholder="{{i18n 'report.placeholder' 'My hovercraft is full of eels.'}}"></textarea>
					{{errorMessage 'reportMessage'}}
				</div>
				<div class="d-flex gap-2 justify-content-end">
					<button type="button" class='btn btn-save js-report-send'>
						<span class="fa-solid fa-paper-plane fa-fw" aria-hidden="true"></span>
						{{i18n 'report.report' 'Send report'}}
					</button>
					{{> buttonCancel event="js-report-cancel"}}
				</div>
			</form>
		</div>
	{{else}}
		<button type="button" class="btn btn-secondary js-report">
			{{i18n 'report.open' 'Report problem'}}
		</button>
	{{/if}}
</template>
