$bootstrap-sass-asset-helper: false;

// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// == Reset and dependencies
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

// == Core CSS
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';

// copied from bootstrap-sass/assets/stylesheets/bootstrap/forms it is needed for forms.
@mixin form-inline {
	// Kick in the inline
	@media (min-width: $screen-sm-min) {
		// Inline-block all the things for "inline"
		.form-group {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
		}

		// In navbar-form, allow folks to *not* use `.form-group`
		.form-control {
			display: inline-block;
			vertical-align: middle;
			width: auto; // Prevent labels from stacking above inputs in `.form-group`
		}

		// Make static controls behave like regular ones
		.form-control-static {
			display: inline-block;
		}

		.input-group {
			display: inline-table;
			vertical-align: middle;

			.input-group-addon,
			.input-group-btn,
			.form-control {
				width: auto;
			}
		}

		// Input groups need that 100% width though
		.input-group > .form-control {
			width: 100%;
		}

		// Re-override the feedback icon.
		.has-feedback .form-control-feedback {
			top: 0;
		}
	}
}

// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

// == Components
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';

// == Components w/ JavaScript
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel';

// == Utility classes
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
// @import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
