<template name="regionTag">
	<div class="region-tag p-2 text-light">
		<span class="fa-regular fa-circle-dot fa-fw" aria-hidden="true"></span>
		{{i18n 'regionTag.inRegion' 'in {REGION}' REGION=regionName}}
	</div>
</template>
